*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 7rem;
    font-family: 'Bangers', cursive;
    color: #c45c5c;

}

body{
    background-color: rgb(62, 62, 155);
    text-align: center;

}
.container{
    height: 70vh; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    position: relative;    

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
   
}
.box{

    height: 18vmin;
    width: 18vmin;
    border-radius: 20%;
    font-size: 6rem;
    color: #c45c5c;
    border: solid black 4px;
    
}
#reset-btn,#new-btn{
    background-color: #c45c5c;
    border: rgb(0, 0, 0) solid 2.5px;
    border-radius: 10px;
    font-size: 2rem;
    color: white;
    padding: 10px;
}
#msg{
    color: white;
    font-size: 5rem;

}
.msgcontainer{
    height: 30vmin;
}
.hide{
    display:none;
}
